The large cell and data table shows per airline total departures and basic delay statistics.

In [39]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from FAA import Ohare
from FAA import Hanger
import pandas as pd

In [4]:
faa = Ohare.Ohare()

## Gets the average delays for the airport's departures

In [6]:
departures = faa.flights_from_ohare
departures = departures.dropna(subset=['DepDelay'])

late_dep = departures[departures.DepDelay > 0]
early_dep = departures[departures.DepDelay <= 0]

early_dep.DepDelay.mean()
late_dep.DepDelay.mean()

25125

In [67]:
airport_volume = len(departures)
airport_volume

total_flights = pd.DataFrame(departures.groupby('Reporting_Airline').size())

total_flights = total_flights.rename(columns={0: 'Total_Departures'})

total_flights = pd.concat([total_flights,late_dep.groupby('Reporting_Airline').count()[['DepDelay']]], axis=1)
total_flights = total_flights.rename(columns={'DepDelay': 'Late_Departures'})

total_flights = pd.concat([total_flights,late_dep.groupby('Reporting_Airline').mean()[['DepDelay']]], axis=1)
total_flights = total_flights.rename(columns={'DepDelay': 'Avg_Delay'})

total_flights = pd.concat([total_flights,early_dep.groupby('Reporting_Airline').count()[['DepDelay']]], axis=1)
total_flights = total_flights.rename(columns={'DepDelay': 'Early_Departures'})

total_flights = pd.concat([total_flights,early_dep.groupby('Reporting_Airline').mean()[['DepDelay']]], axis=1)
total_flights = total_flights.rename(columns={'DepDelay': 'Avg_Delay'})

total_flights['Port_Traffic_Share'] = 100*total_flights['Total_Departures'] / airport_volume

total_flights['Percent_Late_Departures'] = total_flights['Late_Departures'] / total_flights['Total_Departures']

total_flights

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Delay,Port_Traffic_Share,Percent_Late_Departures
Reporting_Airline,,,,,,,
9E,147,48,32.229167,99,-4.898990,0.585075,0.326531
AA,5120,2123,26.459727,2997,-4.360694,20.378109,0.414648
AS,156,28,21.642857,128,-8.179688,0.620896,0.179487
B6,161,74,70.189189,87,-8.471264,0.640796,0.459627
DL,537,196,39.668367,341,-4.539589,2.137313,0.364991
EV,912,364,41.747253,548,-4.735401,3.629851,0.399123
F9,213,64,85.343750,149,-5.885906,0.847761,0.300469
MQ,4570,1652,33.800847,2918,-2.871487,18.189055,0.361488
NK,764,197,43.578680,567,-7.079365,3.040796,0.257853
OH,173,98,58.775510,75,-3.013333,0.688557,0.566474
OO,5764,2604,64.989631,3160,-5.036709,22.941294,0.451770
UA,5120,1533,32.338552,3587,-4.298021,20.378109,0.299414
VX,70,26,22.769231,44,-7.977273,0.278607,0.371429
YX,1418,460,49.713043,958,-4.724426,5.643781,0.324401

In [61]:
total_flights['percentage_late'] = total_flights['Late_Departures'] / total_flights['Total_Departures']

In [62]:
total_flights

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Delay,percentage_late
Reporting_Airline,,,,,,
9E,147,48,32.229167,99,-4.898990,0.326531
AA,5120,2123,26.459727,2997,-4.360694,0.414648
AS,156,28,21.642857,128,-8.179688,0.179487
B6,161,74,70.189189,87,-8.471264,0.459627
DL,537,196,39.668367,341,-4.539589,0.364991
EV,912,364,41.747253,548,-4.735401,0.399123
F9,213,64,85.343750,149,-5.885906,0.300469
MQ,4570,1652,33.800847,2918,-2.871487,0.361488
NK,764,197,43.578680,567,-7.079365,0.257853
OH,173,98,58.775510,75,-3.013333,0.566474
OO,5764,2604,64.989631,3160,-5.036709,0.451770
UA,5120,1533,32.338552,3587,-4.298021,0.299414
VX,70,26,22.769231,44,-7.977273,0.371429
YX,1418,460,49.713043,958,-4.724426,0.324401

In [49]:
pd.concat([total_flights,late_dep.groupby('Reporting_Airline').count()[['DepDelay']]], axis=1)

                   Total_Departures  DepDelay
Reporting_Airline
9E                              147        48
AA                             5120      2123
AS                              156        28
B6                              161        74
DL                              537       196
EV                              912       364
F9                              213        64
MQ                             4570      1652
NK                              764       197
OH                              173        98
OO                             5764      2604
UA                             5120      1533
VX                               70        26
YX                             1418       460

In [50]:
late_dep.groupby('Reporting_Airline').count()[['DepDelay']]

                   DepDelay
Reporting_Airline
9E                       48
AA                     2123
AS                       28
B6                       74
DL                      196
EV                      364
F9                       64
MQ                     1652
NK                      197
OH                       98
OO                     2604
UA                     1533
VX                       26
YX                      460

In [10]:
len(departures[departures.DepDelay <= 0])

15658

In [11]:
len(departures)

25680

In [12]:
15658+9467

25125

In [15]:
departures = departures.dropna(subset=['DepDelay'])

In [16]:
late_dep = departures[departures.DepDelay > 0]

In [17]:
early_dep = departures[departures.DepDelay <= 0]

In [18]:
early_dep.DepDelay.mean()

-4.4186358411035895

In [19]:
late_dep.DepDelay.mean()

42.71743952677723

In [20]:
len(late_dep)

9467

In [21]:
len(early_dep)

15658

In [23]:
len(late_dep)/(len(early_dep)+len(late_dep))

0.3767960199004975

In [54]:
late_dep.groupby('Reporting_Airline').mean()[['DepDelay']]

                    DepDelay
Reporting_Airline
9E                 32.229167
AA                 26.459727
AS                 21.642857
B6                 70.189189
DL                 39.668367
EV                 41.747253
F9                 85.343750
MQ                 33.800847
NK                 43.578680
OH                 58.775510
OO                 64.989631
UA                 32.338552
VX                 22.769231
YX                 49.713043

In [31]:
import seaborn as sns

In [33]:
early_dep.groupby('Reporting_Airline').count()[['DepDelay']]

                   DepDelay
Reporting_Airline
9E                       99
AA                     2997
AS                      128
B6                       87
DL                      341
EV                      548
F9                      149
MQ                     2918
NK                      567
OH                       75
OO                     3160
UA                     3587
VX                       44
YX                      958