In [1]:
import pickle
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/bjg/Metis/Projects/McNulty/FlightOnTime/notebooks'

In [3]:
data = None

In [4]:
with open('../data/server_runs/run_2_dict.pkl', 'rb') as fl:
    data = pickle.load(fl)
fl.close()

In [6]:
data['airline_delays']

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Early_Minutes_SVD,Port_Traffic_Share,Percent_Late_Departures
Reporting_Airline,,,,,,,
9E,1670,560,59.892857,999,-5.260260,0.306753,0.335329
AA,117170,46600,34.167167,68912,-3.758460,21.522303,0.397713
AS,4700,1473,33.823489,3202,-6.538413,0.863317,0.313404
B6,4575,2349,55.302682,2102,-6.815414,0.840356,0.513443
DL,15567,5778,43.234337,9713,-4.474725,2.859415,0.371170
EV,31220,8494,47.783494,22140,-5.350813,5.734627,0.272069
F9,5392,1918,62.122002,3412,-5.432591,0.990426,0.355712
MQ,49497,13363,34.783058,34537,-3.637896,9.091828,0.269976
NK,17985,5701,48.439572,11883,-6.009425,3.303564,0.316986
OH,1881,706,47.283286,1072,-3.711754,0.345510,0.375332
OO,140053,45425,52.795003,91632,-4.923586,25.725553,0.324341
UA,137855,45569,42.743203,91306,-4.137176,25.321815,0.330557
VX,1706,643,39.925350,1059,-6.288008,0.313366,0.376905
YX,15141,3981,48.741020,10744,-4.847264,2.781166,0.262928

In [8]:
data['city_ob_delays']

,ATL,DFW,LAX,LAS,SFO,DEN,JFK,EWR,ORD_AVG
0,14.593725,16.226525,14.865972,14.295452,18.932056,13.557221,29.900742,21.302675,14.796784

In [10]:
data['day_of_week_delays']

           Day  Flights  DepDel15
DayOfWeek
1          MON    81206   18592.0
2          TUE    79772   15019.0
3          WED    80116   14878.0
4          THU    80494   16229.0
5          FRI    80783   17063.0
6          SAT    64412   11210.0
7          SUN    77629   14809.0